<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit Program</title>


  <link rel="icon" type="image/png" href="/images/gator-icon.png">


  <link rel="stylesheet" href="/styles/styles.css">


  <script src="/js/edit_program.js" defer ></script>
</head>
<body>
  <main>
    <h1>Edit Program</h1>

    <form id="edit-form" action="/editProgram" method="POST">
        <fieldset id="editInfo">
                <input type="hidden" name="divisionKey" value="<%= divisionKey %>">
                <input type="hidden" name="programIndex" value="<%= programIndex %>">
                    
        
                <label>Division</label>
                <input type="text" value="<%= division.divName %>" disabled>


                <label>Academic Program </label>
                <input type="text" name="academicProgram" id="academicProgram" value="<%= program.academicProgram %>">
                <span id="err-academicProgram" class="errors"> Academic Program cannot be blank</span>

                <label>Payee(s)</label>
                <input type="text" name="payee"  value="<%= program.payee %>">


                <label>Has Been Paid</label>
                <input type="text" name="beenPaid" value="<%= program.beenPaid %>">

                <label>Report Submitted</label>
                <input type="text" name="submitted" value="<%= program.submitted %>">


                <label>Notes</label>
                <textarea name="notes"><%= program.notes %></textarea>
              

                <button type="submit" id="save-button">Save</button>
                <a href="/summary" id="cancel-button">Cancel</a>


      </fieldset>
    </form>
  </main>
</body>
</html>
