<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit Program</title>

  <!-- Favicon -->
  <link rel="icon" type="image/png" href="/images/gator-icon.png">

  <!-- Stylesheet -->
  <link rel="stylesheet" href="/styles/styles.css">

  <!-- JavaScript -->
  <script src="/js/edit_program.js" defer></script>
</head>

<body>
  <main>
    <h1>Edit Program</h1>

    <!-- Edit Program form  -->
    <form id="edit-form" action="/editProgram/<%= data.id %>" method="POST">

        <fieldset id="editInfo">

        <input type="hidden" name="id" value="<%= data.id %>">

        <label>Division</label>
        <select name="divisionKey">
          <% divisions.forEach(div => { %>
            <option value="<%= div.divisionKey %>" 
              <%= data.divisionKey === div.divisionKey ? "selected" : "" %> >
              <%= div.divName %>
            </option>
          <% }) %>
        </select>

        <label>Academic Program</label>
        <input type="text" name="academicProgram" id="academicProgram" value="<%= data.academicProgram %>">
        <span id="err-academicProgram" class="errors">Academic Program cannot be blank</span>

        <label>Payee(s)</label>
        <input type="text" name="payee" id="payee" value="<%= data.payee %>">
        <span id="err-payee" class="errors">Payee cannot be blank</span>

        <label>Has Been Paid</label>
        <input type="text" name="beenPaid" id="beenPaid" value="<%= data.beenPaid %>">
        <span id="err-beenPaid" class="errors">Has been paid cannot be blank</span>

        <label>Report Submitted</label>
        <input type="text" name="submitted" id="submitted" value="<%= data.submitted %>">
        <span id="err-submitted" class="errors">Submitted cannot be blank</span>

        <label>Notes</label>
        <textarea name="notes"><%= data.notes %></textarea>

        <label>
          <input type="checkbox" name="underReview" value="yes" 
            <%= data.underReview === 'yes' ? 'checked' : '' %> >
          Under Review
        </label>

        <label>Last Updated</label>
        <input type="text" value="<%= data.timestamp %>" disabled>

        <!-- Form buttons  -->
        <button type="submit" id="save-button">Save</button>
        <a href="/" id="cancel-button">Cancel</a>
      </fieldset>
    </form>
  </main>

  <!-- Success Popup -->
  <div id="popup" class="popup hidden">
    <p id="popupMessage"></p>
  </div>
</body>
</html>
