<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Summary</title>
    <link rel="icon" type="image/png" href="/images/gator-icon.png">
    <script src="js/LOC_Project.js" defer></script>
    <script src="//code.jquery.com/jquery-3.7.1.js"></script>
    <script src="//cdn.datatables.net/2.3.4/js/dataTables.min.js"></script>
    <link rel="stylesheet" href="//cdn.datatables.net/2.3.4/css/dataTables.dataTables.min.css">

    <script>
        document.addEventListener("DOMContentLoaded", () => {
            new DataTable('#report-table');
        });
    </script>

    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
    <main id="summary-main">
    <h1>Summary Page</h1>
    <a href="/">Division Management</a>

    <table id="report-table" class="display">
        <thead>
            <tr>
                <th>Division</th>
                <th>Academic Program</th>
                <th>Division Chair</th>
                <th>Dean</th>
                <th>LOC Rep</th>
                <th>PEN Contact</th>
                <th>Payee(s)</th>
                <th>Has Been Paid (Yes/No)</th>
                <th>Report Submitted(Yes/No)</th>
                <th>Notes</th>
                <th>Date</th>
                <th>Edit</th>
                
                
                
            </tr>
        </thead>
            <tbody id="program-table-body">
            <% 
            Object.keys(divisionData).forEach(key => {
            const div = divisionData[key];
            const programs = div.programs || [];
            %>
            <% programs.forEach((program, i) => { %>
                <tr data-division="<%= key %>" data-index="<%= i %>">
                <td class="division"><%= div.divName %></td>
                <td class="academicProgram"><%= program.academicProgram %></td>
                <td class="chair"><%= div.chair %></td>
                <td class="dean"><%= div.dean %></td>
                <td class="locRep"><%= div.locRep %></td>
                <td class="penContact"><%= div.penContact %></td>
                <td class="payee"><%= program.payee %></td>
                <td class="beenPaid"><%= program.beenPaid %></td>
                <td class="submitted"><%= program.submitted %></td>
                <td class="notes"><%= program.notes %></td>
                <td class="timestamp"><%= div.timestamp %></td>
                <td>
                <a href="/editProgram?divisionKey=<%= key %>&programIndex=<%= i %>">Edit</a>
                </td>


                </tr>
            <% }); %>
            <% }); %>
            </tbody>

    </table>
    </main>
</body>
</html>
